body > div + div { margin-top: 50px; padding-top: 50px; border-top: 1px solid #ddd; }
* {box-sizing: border-box; color: inherit;}
html,
body,
body > div {color: #333;}
.flex {display: flex;}
.infiniteSlide {width: 100px; overflow: hidden;}
.container1 {width: 600px; overflow: hidden; margin-left: -100px; animation: infiniteSlide 10s infinite;}
.slideImg1,
.slideImg2,
.slideImg3,
.slideImg4 {width: 100px; height: 100px; text-align: center; line-height: 100px; font-weight: bold;}
.slideImg1 {background: #059ffe;}
.slideImg2 {background: #ff9f02;}
.slideImg3 {background: #01fea0;}
.slideImg4 {background: #fd009e;}
@keyframes infiniteSlide {
    0% {
        margin-left: -100px;
    }
    20% {
        margin-left: -100px;
    }
    25% {
        margin-left: -200px;
    }
    45% {
        margin-left: -200px;
    }
    50% {
        margin-left: -300px;
    }
    70% {
        margin-left: -300px;
    }
    75% {
        margin-left: -400px;
    }
    95% {
        margin-left: -400px;
    }
    99.999% {
        margin-left: -500px;
    }
    100% {
        margin-left: -100px;
    }
}
.play-state {
    position: relative;
    width: 900px;
    overflow: hidden;
}
.stateImg1,
.stateImg2,
.stateImg3 {
    width: 300px;
    line-height: 300px;
    text-align: center;
}
.stateImg1 {
    background: #059ffe;
}
.stateImg2 {
    background: #00fd9e;
}
.stateImg3 {
    background: #a100fe;
}
.mask1,
.mask2 {
    position: absolute;
    width: 600px;
    height: 300px;
    background: rgba(255, 255, 255, .5);
}
.mask1 {
    left: 300px;
    animation: play-state1 3s linear infinite;
}
.mask2 {
    left: -600px;
    animation: play-state2 3s linear infinite;
}
.stateImg1:hover ~ .mask1,
.stateImg1:hover ~ .mask2,
.stateImg2:hover ~ .mask1,
.stateImg2:hover ~ .mask2,
.stateImg3:hover ~ .mask1,
.stateImg3:hover ~ .mask2 {
    animation-play-state: paused;
}
@keyframes play-state1 {
    form {
        left: 300px;
    }
    to {
        left: 1200px;
    }
}
@keyframes play-state2 {
    form {
        left: -600px;
    }
    to {
        left: 300px;
    }
}
.Countdown {
    position: relative;
    width: 200px;
    height: 200px;
}
.cnt0,
.cnt1,
.cnt2,
.cnt3,
.cnt4,
.cnt5 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    text-align: center;
    line-height: 200px;
}
.end {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 250px;
    display: none;
}
/* .cnt5 {
    animation: countDown 6s 1s;
}
.cnt4 {
    animation: countDown 6s 2s;
}
.cnt3 {
    animation: countDown 6s 3s;
}
.cnt2 {
    animation: countDown 6s 4s;
}
.cnt1 {
    animation: countDown 6s 5s;
}
.cnt0 {
    color: #f00;
    animation: countDown 6s 6s;
}
.end {
    animation: cntEnd 6s 6s;
}
@keyframes countDown {
    from {
        z-index: -1;
    }
    to {
        z-index: -1;
    }
} */